<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vituel.dndplayer" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/defaultTheme"
        android:name=".MemoryCache">

        <activity
            android:name=".activity.StartupActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.summary.SummaryActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.edit_char.EditCharActivity"
            android:label="@string/edit"/>

        <activity
            android:name=".activity.select.SelectCharActivity"
            android:label="@string/chars"/>

        <activity
            android:name=".activity.select.SelectBooksActivity"
            android:label="@string/rulebooks"/>

        <activity
            android:name=".activity.LoadingActivity"
            android:label="@string/loading"/>

        <activity
            android:name=".activity.select.SelectClassActivity"
            android:label="@string/class_select"/>

        <activity
            android:name=".activity.edit.EditClassActivity"
            android:label="@string/class_edit"/>

        <activity
            android:name=".activity.edit.EditItemActivity"
            android:label="@string/item_edit"/>

        <activity
            android:name=".activity.select.SelectItemActivity"
            android:label="@string/item_select"/>

        <activity
            android:name=".activity.select.SelectTempEffectActivity"
            android:label="@string/temps_select"/>

        <activity
            android:name=".activity.edit.EditTempEffectActivity"
            android:label="@string/temps_edit"/>

        <activity
            android:name=".activity.select.SelectRaceActivity"
            android:label="@string/race_select"/>

        <activity
            android:name=".activity.edit.EditRaceActivity"
            android:label="@string/race_edit"/>

        <activity
            android:name=".activity.edit.EditFeatActivity"
            android:label="@string/trait_edit"/>

        <activity
            android:name=".activity.select.SelectFeatActivity"
            android:label="@string/trait_select"/>

        <activity
            android:name=".activity.edit.EditSkillActivity"
            android:label="@string/skill_edit"/>

        <activity
            android:name=".activity.select.SelectSkillActivity"
            android:label="@string/skill_select"/>

        <activity
            android:name=".activity.edit.EditAttackRoundActivity"
            android:label="@string/attack_edit"/>

        <activity
            android:name=".activity.edit.EditAbilityModActivity"
            android:label="@string/modlink_edit"/>

    </application>

</manifest>
